<div class="main">
  <header>
    <div class="container">
      <h1>Курс валют</h1>
      <span class="date">{{ date | date:'dd:MM:yyyy' }} - {{ date | date:'h:mm' }}</span>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="w100">
        <div class="filters">
          <div>
            <h4>Валюта</h4>
            <select (change)="selectCurrency($event)">
              <option *ngFor="let item of currenciesList" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
          <div>
            <h4>Регион</h4>
            <select (change)="selectRegion($event)">
              <option value="все">все</option>
              <option *ngFor="let item of regionsList" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
          <div>
            <h4>Организации</h4>
            <select (change)="selectOrganization($event)">
              <option value="все">все</option>
              <option *ngFor="let item of organizationsList" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
        </div>

        <div
          class="table"
          [ngClass]="{ 'empty-container': !currentData.length }"
        >
          <ng-container *ngIf="currentData.length > 0; else empty">
            <ul class="table-header">
              <li
                (click)="sortCurrencyAsk('currencies', $event)"
                class="ask"
                title="ask"
                [ngClass]="{ active: sortIsActive === 'ask' }"
              >
                Продажа
                <span *ngIf="sortIsActive === 'ask'">
                  <img
                    *ngIf="!sortCurrencyAskSwitcher; else oppositeAsk"
                    src="assets/icon/Arrow_Download.svg"
                    alt=""
                  />
                  <ng-template #oppositeAsk>
                    <img src="assets/icon/Arrow_Upward.svg" alt="" />
                  </ng-template>
                </span>
              </li>
              <li
                (click)="sortCurrencyBid('currencies', $event)"
                class="bid"
                title="bid"
                [ngClass]="{ active: sortIsActive === 'bid' }"
              >
                Покупка
                <span *ngIf="sortIsActive === 'bid'">
                  <img
                    *ngIf="!sortCurrencyBidSwitcher; else oppositeBid"
                    src="assets/icon/Arrow_Download.svg"
                    alt=""
                  />
                  <ng-template #oppositeBid>
                    <img src="assets/icon/Arrow_Upward.svg" alt="" />
                  </ng-template>
                </span>
              </li>
              <li
                (click)="sortRegions('regionId', $event)"
                class="city region"
                title="region"
                [ngClass]="{ active: sortIsActive === 'region' }"
              >
                Город
                <span *ngIf="sortIsActive === 'region'">
                  <img
                    *ngIf="!sortRegionSwitcher; else oppositeRegion"
                    src="assets/icon/Arrow_Download.svg"
                    alt=""
                  />
                  <ng-template #oppositeRegion>
                    <img src="assets/icon/Arrow_Upward.svg" alt="" />
                  </ng-template>
                </span>
              </li>
              <li
                (click)="sortOrganization('title', $event)"
                class="title organization"
                title="organization"
                [ngClass]="{ active: sortIsActive === 'organization' }"
              >
                Организация
                <span *ngIf="sortIsActive === 'organization'">
                  <img
                    *ngIf="!sortOrganizationSwitcher; else oppositeOrganization"
                    src="assets/icon/Arrow_Download.svg"
                    alt=""
                  />
                  <ng-template #oppositeOrganization>
                    <img src="assets/icon/Arrow_Upward.svg" alt="" />
                  </ng-template>
                </span>
              </li>
              <li
                (click)="sortPhone('phone', $event)"
                class="phone"
                title="phone"
                [ngClass]="{ active: sortIsActive === 'phone' }"
              >
                Телефон
                <span *ngIf="sortIsActive === 'phone'">
                  <img
                    *ngIf="!sortPhoneSwitcher; else oppositePhone"
                    src="assets/icon/Arrow_Download.svg"
                    alt=""
                  />
                  <ng-template #oppositePhone>
                    <img src="assets/icon/Arrow_Upward.svg" alt="" />
                  </ng-template>
                </span>
              </li>
            </ul>
            <div *ngFor="let item of currentData" class="table-row">
              <ul>
                <li>{{ currenciesValue(item.currencies).ask | slice: 0:5 }}</li>
                <li>{{ currenciesValue(item.currencies).bid | slice: 0:5 }}</li>
                <li class="region">{{ regions[item.regionId] }}</li>
                <li class="organization">{{ item.title }}</li>
                <li>{{ item.phone | phone }}</li>
              </ul>
            </div>
          </ng-container>
          <ng-template #empty>
            <h4 class="empty">Нет данных!</h4>
          </ng-template>
        </div>

        <div *ngIf="totalResult > 1">
          <app-pagination
            (goPage)="goToPage($event)"
            (goNext)="onNext()"
            (goPrev)="onPrev()"
            [page]="page"
            [totalPages]="totalResult"
          >
          </app-pagination>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <a href="https://finance.ua/ru/currency" target="_blank">FІNANCE.UA</a>
      <h6>Курс обмена наличных валют в Украине.</h6>
    </div>
  </footer>
</div>
