<div class="main">
  <header>
    <div class="container">
      <h1>Курс валют</h1>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="w100">
        <div class="filters">
          <div>
            <h4>Валюта</h4>
            <select (change)="selectCurrency($event)">
              <option *ngFor="let item of currenciesList" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
          <div>
            <h4>Регион</h4>
            <select (change)="selectRegion($event)">
              <option value="все">все</option>
              <option *ngFor="let item of regionsList" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
          <div>
            <h4>Организации</h4>
            <select (change)="selectOrganization($event)">
              <option value="все">все</option>
              <option *ngFor="let item of organizationsList" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
        </div>

        <div class="table" [ngClass]="{ 'empty-container': !currentData.length }">
          <ng-container *ngIf="currentData.length > 0; else empty">
            <ul class="table-header" (click)="isActiveHeader($event)">
              <li
                (click)="sortCurrencyAsk('currencies')"
                class="ask"
                [ngClass]="{ active: sortIsActive === 'Продажа' }"
              >
                Продажа
              </li>
              <li
                (click)="sortCurrencyBid('currencies')"
                class="bid"
                [ngClass]="{ active: sortIsActive === 'Покупка' }"
              >
                Покупка
              </li>
              <li
                (click)="sortRegions('regionId')"
                class="city region"
                [ngClass]="{ active: sortIsActive === 'Город' }"
              >
                Город
              </li>
              <li
                (click)="sortOrganization('title')"
                class="title organization"
                [ngClass]="{ active: sortIsActive === 'Организация' }"
              >
                Организация
              </li>
              <li
                (click)="sortPhone('phone')"
                class="phone"
                [ngClass]="{ active: sortIsActive === 'Телефон' }"
              >
                Телефон
              </li>
            </ul>
            <div *ngFor="let item of currentData" class="table-row">
              <ul>
                <li>{{ currenciesValue(item.currencies).ask | slice: 0:5 }}</li>
                <li>{{ currenciesValue(item.currencies).bid | slice: 0:5 }}</li>
                <li class="region">{{ regions[item.regionId] }}</li>
                <li class="organization">{{ item.title }}</li>
                <li>{{ item.phone | phone }}</li>
              </ul>
            </div>
          </ng-container>
          <ng-template #empty>
            <h4 class="empty">Нет данных!</h4>
          </ng-template>
        </div>

        <div *ngIf="totalResult > 1">
          <app-pagination
            (goPage)="goToPage($event)"
            (goNext)="onNext()"
            (goPrev)="onPrev()"
            [page]="page"
            [totalPages]="totalResult"
          >
          </app-pagination>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <h6>Курс обмена наличных валют в Украине.</h6>
    </div>
  </footer>
</div>
